section {
  background-color: white;
  width: 200px;
  margin: 50px auto;
  text-align: center;
  padding: 150px;
  border-radius: 10px;
}

input {
  margin-bottom: 20px;
}

button {
  padding: 10px 40px;
  border-radius: 10px;
  background-color: yellow;
  margin: 10px 0 30px;
}

button:hover {
  background-color: rgb(140, 154, 48);
}

section a {
  color: blue;
}
section a:hover {
  color: rgb(120, 120, 248);
}
