#navbar {
  background-color: rgb(226, 226, 201);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

#navbar a {
  margin: 0 30px;
  font-size: 1.2rem;
  font-weight: 600;
  color: rgb(73, 73, 73);
  border-bottom: 3px solid transparent;
}
#navbar a:hover {
  color: black;
  border-bottom: 3px solid black;
  transition: 0.2s;
}
